body {
    width: 1000px;
    margin: auto;
    background-image:  url(https://www.1zoom.me/big2/553/317848-Sepik.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 2150px 1080px;
}





table {
    margin-top: 60px;
    width: 100%;
    border-collapse: collapse;  
}

td,
th {
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.638);
}
.entete {
    color:white;
    background-color:rgb(70, 70, 70);
    height: 30px;
    font-size: 2em;
}
.heures {
    width: 5%;
    height: 10px;
}

.jours {
    width: 19%;
    font-size: 1.5em;
}

.plage {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
}

.liberationCommune {
    background-color: gray;
}

.KB2 {
    background-color: blue;
}

.KBG {
    background-color: green;
}
.KB1 {
    background-color: aqua;
}
.KB3 {
    background-color: rgb(140, 0, 255);
}
.KB4 {
    background-color: rgb(255, 0, 0);
}
.KB5 {
    background-color: rgb(252, 227, 0);
}
 
